extends layout

block content
  h1 Profile Creation
  form(method="POST", action="/profile/profilepost")  
    p Firstname 
    input(type="text", name="fname") 
    p Lastname 
    input(type="text", name="lname") 
    p Address 
    input(type="text", name="address")
    p Date of birth
    input(type="date", name="dob")
    p Phone
    input(type="number", name="phone") 
    p 
    input(type="submit",value='submit')