extends layout

block content
  h1= title
  p Add you book
  form(name="add-estimation", method="post")
        div.input
          
          
            input(type="text", name="firstName" placeholder = "Enter name")
            br
            br
            input(type="text", name="lasttName" placeholder = "Enter lastname")
            br
            br
            input(type="text", name="address" placeholder = "Enter address")
            br
            br
            input(type="date", name="DoB" placeholder = "e")
            br
            br
            input(type="number", name="phone" placeholder = "Enter phone number")
            br
            br
        div.actions
            input(type="submit", value="add")